.container {
  display: flex;
  flex-direction: row;
  padding: 0.025rem 0.5rem 0.025rem 0.5rem; 
  gap: 1rem;
  word-break: break-word;
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.messageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end; /* add this line */
}

.messageHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.messageHeaderSender {
  font-weight: 500;
  text-align: left;
  padding-right: 0.3rem;
}

.messageHeaderSentByMe {
  justify-content: flex-end;
}

.messageBody {
  display: flex;
  justify-content: flex-start;
}

.messageBubble {
  padding: 0.5rem 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  max-width: 65%;
}

.messageBubbleSentByMe {
  background-color: #395777;
  color: #fff;
  margin-left: auto;
}

.messageBubbleSentByOther {
  background-color: #f7fafc;
  color: #000;
}
